.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ButtonStyles.css */
.stylish-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get the element to inline block */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.stylish-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.stylish-heading {
  font-family: 'Arial', sans-serif; /* Custom font */
  font-size: 24px; /* Font size */
  font-weight: bold; /* Bold text */
  color: #333; /* Dark gray text color */
  text-transform: uppercase; /* Uppercase letters */
  letter-spacing: 1.5px; /* Spacing between letters */
  margin-bottom: 16px; /* Space below the heading */
  border-bottom: 2px solid #4CAF50; /* Green underline */
  padding-bottom: 8px; /* Padding below text for better spacing */
  text-align: center; /* Center the text */
  line-height: 1.4; /* Line height for better readability */
}
